
@media all and (max-width:991px) {
   .navbar-nav {
        padding: 10px 10px;
        border-top: 1px solid #E5E9EF;
    }
}
.navbar {
    border: $none;
    font-size: $font-size-base;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    padding: 0;
    background: $white-color;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

.card-bg {
    color: black;
    text-align: left;
    padding: 25px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}